fastapi==0.111.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
python-dotenv==1.0.1

numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
webrtcvad==2.0.10
scikit-learn==1.4.2

torch==2.2.2
torchaudio==2.2.2
speechbrain==0.5.16

faster-whisper==1.0.3
python-multipart==0.0.9
